WSGIDaemonProcess {{ apache_wsgi_daemon_name }} 
  user={{ apache_user }} 
  group={{ apache_group }} 
  python-home={{ venv_dir }} 
  python-path={{ venv_dir }}/lib/python3.7/site-packages:{{ project_root_dir }}:{{ project_root_dir }}/{{ django_project_config_name }}
  processes=2
  threads=5
  maximum-requests=1000 
  display-name=%{GROUP}

<VirtualHost *:80>
    ServerName {{ server_name_ip }}
    {% if server_alias_domain is defined %}
    ServerAlias {{ server_alias_domain }}
    {% endif %}

    # 정적 자원 처리 우선
    Alias /static/ {{ project_root_dir }}/staticfiles/
    <Directory {{ project_root_dir }}/staticfiles>
        Require all granted
        Header set Cache-Control "max-age=31536000, public"
        FileETag All
    </Directory>

    Alias /media/ {{ project_root_dir }}/mediafiles/
    <Directory {{ project_root_dir }}/mediafiles>
        Require all granted
        Header set Cache-Control "max-age=604800, public"
    </Directory>

    # WSGI 구성
    WSGIScriptAlias / {{ project_root_dir }}/{{ django_project_config_name }}/wsgi.py
    WSGIProcessGroup {{ apache_wsgi_daemon_name }}
    WSGIApplicationGroup %{GLOBAL}

    <Directory {{ project_root_dir }}/{{ django_project_config_name }}>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    # 상위 디렉토리 접근 제한
    <Directory {{ project_root_dir }}>
    Options -Indexes +FollowSymLinks
    AllowOverride None
    Require all granted
    </Directory>


    # 로그 관리
    ErrorLog "|/usr/sbin/rotatelogs -l {{ apache_log_dir }}/%Y%m%d-{{ django_project_name }}-error.log 86400"
    CustomLog "|/usr/sbin/rotatelogs -l {{ apache_log_dir }}/%Y%m%d-{{ django_project_name }}-access.log 86400" combined

    # 연결 관리
    KeepAlive On
    KeepAliveTimeout 5
    MaxKeepAliveRequests 100
</VirtualHost>
