# templates/django_onpremweb.conf.j2

# WSGIDaemonProcess는 project_owner가 아닌 apache_user로 실행되어야 함
# python-home은 venv_dir, python-path는 project_root_dir
WSGIDaemonProcess {{ apache_wsgi_daemon_name }} user={{ apache_user }} group={{ apache_group }} python-home={{ venv_dir }} python-path={{ project_root_dir }} threads=5 display-name=%{GROUP}

<VirtualHost *:80>
    ServerName {{ server_name_ip }}
    {% if server_alias_domain is defined and server_alias_domain %}
    ServerAlias {{ server_alias_domain }}
    {% endif %}

    ErrorLog {{ apache_log_dir }}/{{ django_project_name }}-error.log
    CustomLog {{ apache_log_dir }}/{{ django_project_name }}-access.log combined

    WSGIScriptAlias / {{ project_root_dir }}/{{ django_project_config_name }}/wsgi.py
    WSGIProcessGroup {{ apache_wsgi_daemon_name }}
    WSGIApplicationGroup %{GLOBAL}

    <Directory {{ project_root_dir }}/{{ django_project_config_name }}>
        <Files wsgi.py>
            Require all granted  # <--- 이런 부분 확인
        </Files>
    </Directory>

    Alias /static/ {{ project_root_dir }}/staticfiles/
    <Directory {{ project_root_dir }}/staticfiles>
        Require all granted  # <--- 이런 부분 확인
    </Directory>

    Alias /media/ {{ project_root_dir }}/mediafiles/
    <Directory {{ project_root_dir }}/mediafiles>
        Require all granted  # <--- 이런 부분 확인, 여기가 36번째 줄 근처일 수 있습니다.
    </Directory>

    # 만약 project_base_dir 에 대한 Directory 블록이 있다면 (이전 제안에서 제거 권장)
    # <Directory {{ project_base_dir }}>
    #    Require all granted # 이 부분도 확인
    # </Directory>
</VirtualHost>
